
<div class="container" id="job-<%= @job.id %>">
            
</div>
    <%= @job.title %>-->
    <div class="container"
        <span class="row"><%= @job.description %></span>
    </div>

<%= link_to 'Edit', edit_job_path(@job) %> 
<%= link_to 'Back', jobs_path %>
